.Main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0.8em;
}

.Main__Form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media all and (min-width: 500px) {
    .Main {
        background-color: white;
    }

    .Main__Form {
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 400px;
        max-width: 500px;
    }
}