.Comment__header {
    display: flex;
    justify-content: space-between;
}

.Comment__author {
    font-weight: bold;
}

.Comment__timestamp {
    color: rgb(145, 145, 145);
}

.Comment__text {
    margin-top: 0.7em;
}

.Comment__controls {
    margin-top: 0.5em;
}