.RealEstate-card {
    background-color: #f6f7f9;
    padding: 10px;
}

.img-area {
    display: block;
    border-radius: 5px;
}

.RealEstate-card__img-area {
    width: 100%;
}

.img-area__RealEstate-img {
    width: 100%;
    max-height: 100%;
}

.description-block__text {
    text-align: justify;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.info-item {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

.info-item__value {
    font-weight: bold;
}

.info-item__value--bright {
    color: #e34a5d;
}

.RealEstate-card__button {
    width: 100px;
    text-decoration: none;
    cursor: pointer;
}

.RealEstate-card__form {
    display: inline-block;
}

.RealEstate-card__controls {
    text-align: right;
}

.RealEstate-card__DateRangePickerWrapper {
    margin-top: 1em;
}

.RealEstate-card__message {
    margin-top: 1em;
}

.RealEstatePage__map {
    margin-top: 3em;
}

.controls__EditButton {
    margin-right: 5px;
}

.map {
    position: relative;
    width: 100%;
    height: 400px;
}

.info-block__info-item--right-alignment {
    display: flex;
    justify-content: flex-end;
}

.RealEstate-card__carousel-wrapper--full-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 100;
}

.RealEstate-card__carousel-wrapper--full-screen::before {
    content: "";
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
}

.RealEstate-card__RealEstateCarousel {
    position: absolute;
    max-width: 576px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.popup__exit {
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 500;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.popup__exit::before,
.popup__exit::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.popup__exit::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.RealEstate-card__controls {
    margin-top: 1em;
}

@media all and (min-width: 576px) {
    .info-item {
        justify-content: flex-start;
    }

    .info-item__value {
        margin-left: 0.5em;
    }

    .RealEstate-card__RealEstateCarousel {
        left: 50%;
        width: 85vw;
        max-width: 85vw;
        transform: translate(-50%, -50%);
    }

    .info-block__info-item--right-alignment {
        justify-content: flex-end;
    }
}

@media all and (min-width: 992px) {
    .RealEstate-card__main {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .RealEstate-card__img-area, .RealEstate-card__info-block{
        flex-basis: calc(50% - 1em);
    }

    .info-block__info-item {
        margin-bottom: 0.3em;
    }

    .RealEstate-card__RealEstateCarousel {
        left: 50%;
        width: 50vw;
        max-width: 70vw;
        max-height: 95vh;
    }
}
