.CommentList__Comment:not(:first-child) {
    margin-top: 30px;
}

.CommentList {
    padding: 10px;
    border-radius: 5px;
}

.CommentList__CommentForm {
    margin-top: 1em;
}

.CommentList__message {
    margin-top: 1em;
}
