.RealEstateListPage {
    padding-bottom: 3em;
}

.right-positioning-wrapper {
    display: flex;
    justify-content: flex-end;
}

.button--success {
    background-color: #cbffba;
}

.RealEstateListPage__change-layout-button {
    border-radius: 0.3em;
    cursor: pointer;
    margin: 1em 0.3em 0.3em;
}

.map-wrapper {
    margin-top: 0.8em;
    width: 100vw;
    padding: 0 0.3em;
}

.button-wrapper {
    padding: 0 0.5em;
}

.toggle-filterList-button {
    border: none;
    display: inline-block;
    padding: 0.8em 0.8em;
    text-align: center;
    cursor: pointer;
    font-size: 1.1em;
    background-color: #f2f2f2;
    color: #4b79a6;
}

.centering-wrapper__center {
    width: 100%;
}

.RealEstateListPage__toggle-filterList-button {
    width: 100%;
}

.RealEstateListPage__FilterPanel {
    margin: 0 auto;
}

.RealEstateListPage__FilterPanel--collapsed {
    display: none;
}

.RealEstateListPage__BlinkMessage {
    margin: 2em auto 1em auto;
}

.RealEstateListPage__title {
    margin: 0;
}

.toggle-filterList-button__fa-chevron-down {
    display: inline-block;
    font-size: 0.7em;
    margin-left: 0.5em;
    margin-top: 0.1em;
    color: #4b79a6;
}

@media all and (min-width: 576px) {
    .RealEstateListPage__RealEstateList {
        margin-top: 0.5rem;
    }

    .RealEstateListPage__result-block {
        width: 100%;
    }
}

@media all and (min-width: 800px) {
    .flex-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .RealEstateListPage__FilterPanel-sticky-wrapper {
        flex-basis: 300px;
        margin-top: 60px;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .RealEstateListPage__FilterPanel--collapsed {
        display: block;
    }

    .RealEstateListPage__toggle-filterList-button {
        display: none;
    }

    .RealEstateListPage__BlinkMessage {
        width: 80%;
    }

    .map-wrapper {
        width: 100%;
    }

    .centering-wrapper {
        margin: 0 0.5em;
    }

}

@media all and (min-width: 1100px) {
    .RealEstateListPage__RealEstateCard {
            margin: 0.3em 0.3em;
            flex-basis: calc(33% - 0.6em);
    }

    .RealEstateListPage__result-block {
        flex-basis: calc(100% - 300px);
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
    }

    .centering-wrapper {
        width: 95%;
    }
}

@media all and (max-width: 800px) {
    .RealEstateListPage__FilterPanel-sticky-wrapper > .sticky-inner-wrapper {
        position: static!important;
        transform: none !important;
        width: auto !important;
    }
}

