.CreateOrUpdateRealEstateForm {
    padding: 1em;
}

.CreateOrUpdateRealEstateForm__title {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    margin: 1rem;
}

.input-field {
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.CreateOrUpdateRealEstateForm__input-field {
    margin-bottom: 1em;
    width: 100%;
}

.textarea {
    height: 150px;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    resize: none;
    font-family: "Roboto", sans-serif;
}

.CreateOrUpdateRealEstateForm__button {
    margin-top: 2em;
    width: 100%;
    cursor: pointer;
}

.CreateOrUpdateRealEstateForm__CreateOrUpdateRealEstateForm-message {
    margin-top: 0.5em;
}


.message {
    text-align: center;
}

.CreateOrUpdateRealEstateForm-message {
    text-align: center;
    padding: 0.6em 0;
    border-radius: 5px;
}

.CreateOrUpdateRealEstateForm-message--warning {
    background-color: #fcf283;
    color: #7c7845;
}

.CreateOrUpdateRealEstateForm-message--success {
    background-color: #dafcc0;
    color: #7c7845;
}

.textarea {
    height: 150px;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    resize: none;
    font-family: "Roboto", sans-serif;
}

.CreateOrUpdateRealEstateForm__textarea {
    margin-bottom: 1em;
    width: 100%;
}

.CreateOrUpdateRealEstateForm__address-block {
    margin-top: 1.5em;
}

.CreateOrUpdateRealEstateForm--auth {
    max-width: 450px;
}

/*Overwrites google-api wrapper style*/
.CreateOrUpdateRealEstateForm__FormMap > div {
    height: 400px;
}

.CreateOrUpdateRealEstateForm__input-label {
    margin-bottom: 0.5em;
}

.input-number-button {
    margin-left: 0.3em;
    line-height: 1em;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    font-size: 1.5em;
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.input-number-button__text {
    margin-bottom: 3px;
}

.input-number-button--add-input {
    background-color: #50e3a3;
}

.input-number-button--delete-input {
    background-color: #FF895A;
}

.input-group {
    display: flex;
}

.centering-wrapper {
    display: flex;
    justify-content: center;
}

@media all and (min-width: 500px) {
    .CreateOrUpdateRealEstateForm {
        -webkit-box-shadow: 0 4px 7px 2px rgba(199, 199, 199, 0.49);
        -moz-box-shadow: 0 4px 7px 2px rgba(199, 199, 199, 0.49);
        box-shadow: 0 4px 7px 2px rgba(199, 199, 199, 0.49);
    }

    .CreateOrUpdateRealEstateForm__button {
        width: 300px;
    }
}

@media all and (min-width: 1200px) {
    .CreateOrUpdateRealEstateForm__flex-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .CreateOrUpdateRealEstateForm__address-block,
    .CreateOrUpdateRealEstateForm__input-group {
        flex-basis: 48%;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .CreateOrUpdateRealEstateForm__FormMap {
        height: 100%;
    }

    /*Overwrites google-api wrapper style*/
    .CreateOrUpdateRealEstateForm__FormMap > div {
        height: 95%;
    }

    .CreateOrUpdateRealEstateForm__address-block {
        margin-top: 0;
    }

    .CreateOrUpdateRealEstateForm__textarea {
        margin-bottom: 0;
    }
}